body{

font-family: Arial;
background:#0f0f0f;
color:white;
padding:20px;

}

h1{
text-align:center;
}

.card{

background:#1c1c1c;
padding:20px;
border-radius:10px;
margin-bottom:20px;

}

input{

width:100%;
padding:10px;
margin:5px 0;
border-radius:6px;
border:none;

}

button{

width:100%;
padding:12px;
background:#00ff9c;
border:none;
border-radius:8px;
font-weight:bold;

}

li{

background:#1a1a1a;
padding:10px;
margin:5px 0;
border-radius:6px;

}